.bias{

    display:inline-flex;
    align-items:center;
    justify-content:center;

    min-width:180px;

    padding:14px 28px;

    border-radius:999px;

    font-weight:700;

    font-size:18px;

    transition:.35s;
}


/* Positive Gamma */

.bias.positive{

    color:#7CFFAE;

    background:rgba(39,174,96,.18);

    border:1px solid rgba(39,174,96,.55);

    box-shadow:0 0 25px rgba(39,174,96,.25);

}


/* Negative Gamma */

.bias.negative{

    color:#FF7777;

    background:rgba(231,76,60,.18);

    border:1px solid rgba(231,76,60,.55);

    box-shadow:0 0 25px rgba(231,76,60,.25);

}


/* Neutral */

.bias.neutral{

    color:#F7E28A;

    background:rgba(241,196,15,.15);

    border:1px solid rgba(241,196,15,.45);

    box-shadow:0 0 25px rgba(241,196,15,.20);

}


/* Gamma Flip */

.bias.flip{

    color:#78D7FF;

    background:rgba(52,152,219,.18);

    border:1px solid rgba(52,152,219,.50);

    box-shadow:0 0 25px rgba(52,152,219,.20);

}
